<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=contacts, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="head">
      <div class="logo">NodeJs</div>
      <div class="link">
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./product.html">Product</a></li>
          <li><a href="./contacts.html">Contact</a></li>
        </ul>
      </div>
    </div>
    <!-- <div class="container">
      <h2>Contacts</h2>
      <h5 class="visited"></h5>
    </div> -->

    <script src="./script.js"></script>
  </body>
</html>
